---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
{% if not site.indexable %}
User-agent: *
Disallow: /
{% else %}
User-agent: *
Allow: /

Sitemap: {{ site.url }}/sitemap.xml
{% endif %}
